
/*** BODY ***/


body{
background-color:#dd0000;
}




/*** ALL ***/


#all{
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#ffffcf;
margin-bottom:30px;
padding-bottom:50px;
color:#404040;
}




/*** HEADER ***/


#header{
margin-top:55px;
background-color:#dd0000;
}


#header img{
padding-bottom:0px;
background-color:#dd0000;
}

#header h1{
font-size:42px;
padding-top:50px;
padding-right:20px;
padding-bottom:10px;
margin-top:0px;
margin-bottom:5px;
text-align:right;
color:#ffffff;
background-color:#dd0000;
}




/*** MENU ***/


.menu{
float:left;
border:1px solid #dd0000;
background-color:#dd0000;
color:#ffffcf;
font-weight:bold;
font-size:16px;
padding:7px 10px 7px 10px;
margin-left:15px;
margin-top:20px
}




/*** CONTENTS 01 ***/


#contents01{
margin-top:100px;
margin:100px;
padding:0px 0px 0px 0px;
border:3px solid #dd0000;
height:415px;
width:913;
}

#contents01 h1{
font-weight:bold;
font-size:42px;
margin:70px 10px 10px 0px;
}

#contents01 img{
float:left;
margin-left:15px;
margin-top:85px;
margin-bottom:100px;
}

#contents01_text{
float:right;
width:436px;
height:249px;
margin-right:0px;
margin-top:85px;
margin-bottom:100px;
}

#contents01_text h2{
font-size:25px;
margin-top:0px;
margin-left:0px;
}

#contents01_text ul{
font-size:18px;
line-height:1.5em;
padding:0px 30px 30px 30px;
margin-top:0px;
}


/*** CONTENTS 02 ***/


#contents02{
margin:100px;
padding:0px 0px 0px 0px;
border:3px solid #dd0000;
height:415px;
width:913;
}

#contents02_text{
float:left;
width:436px;
height:249px;
margin-left:25px;
margin-top:100px;
margin-bottom:100px;
}

#contents02 img{
float:right;
margin-top:50px;
margin-right:75px;
}


#contents02_text h2{
font-size:25px;
margin-top:0px;
margin-left:25px;
}

#contents02_text p{
font-size:15px;
line-height:1.8em;
padding:0px 30px 30px 30px;
margin-top:10px
}


/*** CONTENTS 03 ***/


#contents03{
margin:100px 100px 50px 100px;
padding:0px 0px 0px 0px;
border:3px solid #dd0000;
height:415px;
width:913;
}

#contents03 img{
float:left;
margin-top:35px;
margin-left:75px;
}

#contents03_text{
float:right;
width:436px;
height:249px;
margin-right:25px;
margin-top:100px;
margin-bottom:100px;
}

#contents03_text h2{
font-size:25px;
margin-top:0px;
margin-left:25px;
}

#contents03_text p{
font-size:15px;
line-height:2em;
padding:0px 30px 30px 30px;
margin-top:10px
}




/*** FOOTER ***/


.footer_member{
float:right;
margin-right:20px;
margin-bottom:10px;
font-size:16px;
font-weight:bold;
color:#dd0000;
}
